# Python
venv/
__pycache__/
*.pyc
db.sqlite3

# Django
media/
staticfiles/

# Node
node_modules/
frontend/node_modules/

# React build
frontend/dist/
frontend/build/

# env
.env

# logs
*.log

# OS
.DS_Store
Thumbs.db

__pycache__/
*.pyc